Animal.csv
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
.vs/
.vs/**
*.suo
/.vs/CognitiveABM/DesignTimeBuild
/.vs/CognitiveABM/v16/Server/sqlite3
